### Django ###
*.xls
*.xlsx
*.csv
*.log
*.pot
*.pyc
*.jpg
*.jpg
*.png
fixtures/
/__pycache__/*
migrations/
local_settings.py
db.sqlite3
media
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
static_root/*
.DS_Store
anzim/node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?