* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat', monospace;
}

:root {
    --TextColor: #3a3a3a;
    --LinkCo0lor: #bdd6fd;
    --BackColor: #f5f5f5;
}

strong {
    font-style: normal;
    font-weight: bold;
}
a {
    color: gray;
    text-decoration: none;
    font-weight: 600;
}
.title-h2 {
    color: #505050;
    font-weight: 900;
    padding-bottom: 6px;
}
.title-h1 {
    color: #505050;
    font-weight: 900;
    padding-bottom: 6px;
}
.cool_link {
    position: relative;
	color: gray;
	cursor: pointer;
	line-height: auto;
	text-decoration: none; /*убираем подчёркивание*/
}
.cool_link:after {
	display: block;
    position: absolute;
    margin-top: 3px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: gray;
	content: "";
	transition: width 0.2s ease-out; /*задаём время анимации*/
}
.cool_link:hover:after, .cool_link a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
hr{
    text-align: center;
    width: 100%;
    size: 1;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-areas: "aside-left" "aside-right" "article";
    padding: 0 20px;
    min-height: calc(100vh - 212px);
}

/* .header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo nav" "search search";
    position: relative;
} */
.header {
    padding: 20px 0;
}
.nav {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__link {
    display: block;
    padding: 0 15px;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    font-weight: 700;
}
.logo {
    grid-area: logo;
    width: 60px;
	height: 60px;
    background-color: var(--BackColor);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid gray;
    text-align: center;
    padding: 0;
    position: relative;
}
.logo:hover {
    background-color: grey;
}
.logo__eight {
    position: absolute;
    font-family: 'Baloo Tamma 2', cursive;
    color: gray;
    font-size: 25px;
    left: 10%;
    top: 30%;
}
.logo__eight:hover {
    color: white;
}
.about {
    grid-area: about;
    margin-right: 12px;
}

.portfolio{
    grid-area: portfolio;
}
.search{
    margin-top: 20px;
    width: calc(100vw - 57px);
}
.search__input{
    width: calc(100vw - 70px);
    outline:none;
    border: 1px gray solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    color: gray;
    font-family: 'Montserrat', monospace;
    font-size: 16px;
    font-weight: 600;
}
.aside-left {
    grid-area: aside-left;
    padding: 10px 0;
}
.link-block, .tags {
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}
.tags__link{
    padding: 5px;
    color: gray;
}
.date{
    color: #808080;
    float: right;
}
.link-block {
    display: block;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.link-block:hover{
    color: white;
    background-color: gray;
}

.main {
    grid-area: article;
    padding: 10px 20px;
}
.aricle{
    padding-bottom: 20px;
}
.article__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.pagination {
    justify-self: center;
    grid-area: paginator;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}
.pagination a {
    border: 1px solid gray;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px;
    color: gray;
}
.pagination a.active-page{
    color: white;
    background-color: gray;
}
.pagination a:hover{
    color: white;
    background-color: gray;
}
.aside-right {
    grid-area: aside-right;
    padding: 10px 0;

}
.num-times {
    border: 1px solid;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background-color: var(--BackColor);
}
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    font-size: 10px;
    color: gray;
    background-color: var(--BackColor);
}
.footer__list {
    list-style: none;
}
.footer__item {
    display: inline;
}
.footer__item+.footer__item:before {
    padding: 3px;
    color: grey;
    content: " \007C";
}
h2 a{
    color: #505050;
    font-weight: 800;
}
h3 a{
    color: #505050;
    font-weight: 700;
}
p a {
    color: #627fff;
    border-bottom: 1px solid;
}
strong{
    color: #3b3b3b;
}

.hljs-ln-numbers {
    text-align: center;
    color: #ccc;
    border-right: 2px solid rgba(233, 233, 233, 0.76);
    vertical-align: top;
    color: green;
    padding-right: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
	width: 95vw;
	overflow-x: auto;
	overflow-y: hidden;
}
code {
    margin: 10px 0;
    border-radius: 6px;
    font-family: 'Ubuntu Mono', monospace;
}

/*
@media only screen and (min-width: 1601px) and (max-width: 1920px){}
@media only screen and (min-width: 1361px) and (max-width: 1600px) {}
@media only screen and (min-width: 1281px) and (max-width: 1360px) {}
@media only screen and (min-width: 1081px) and (max-width: 1280px) {}
@media only screen and (min-width: 981px) and (max-width: 1080px) {}
@media only screen and (min-width: 801px) and (max-width: 980px) {}
@media only screen and (min-width: 721px) and (max-width: 800px) {}
@media only screen and (min-width: 601px) and (max-width: 7200px) {}
@media only screen and (min-width: 541px) and (max-width: 600px) {}
@media only screen and (min-width: 481px) and (max-width: 540px) {}
@media only screen and (min-width: 361px) and (max-width: 480px) {}
@media only screen and (min-width: 240px) and (max-width: 360px) {}
*/

@media (min-width: 1281px) and (max-width: 1920px) {
    .content{
        grid-template-columns: 20% auto 20%;
        grid-template-areas: "aside-left article aside-right";
    }
    .header{
        grid-template-columns: 5% 15% auto;
        grid-template-areas: "logo nav search";
    }
    .search{
        width: calc(100vw - 50px);
    }
    .search input{
        width: calc(100vw - 62px);
    }
    .toggle-btn--none {
        display: none;
    }
    pre{
        width: calc(100vw - 45vw);
    }
}
@media (min-width: 1081px) and (max-width: 1280px) {
    .content{
        grid-template-columns: 25% auto 25%;
        grid-template-areas: "aside-left article aside-right";
    }
    .search{
        width: calc(100vw - 50px);
    }
    .search input{
        width: calc(100vw - 62px);
    }
    .toggle-btn--none {
        display: none;
    }
    pre{
        width: calc(100vw - 50vw);
    }
}
@media (min-width: 981px) and (max-width: 1080px) {
    .content{
        grid-template-columns: auto auto;
        grid-template-areas: "aside-left aside-right" "article article";
    }
    .search{
        width: calc(100vw - 50px);
    }
    .search input{
        width: calc(100vw - 62px);
    }
    .article {
        padding: 10px 0;
    }
    .toggle-btn--none {
        display: block;
    }
    .aside-left--toggle-on, .aside-right--toggle-on {
        display: none;
    }
    .aside-right {
        padding: 10px 20px;
    }
    pre{
        width: calc(100vw - 40px);
    }
}
@media (min-width: 600px) and (max-width: 980px) {
    .content{
        grid-template-columns: auto auto;
        grid-template-areas: "aside-left aside-right" "article article";
    }
    .search{
        width: calc(100vw - 40px);
    }
    .search input{
        width: calc(100vw - 52px);
    }
    .toggle-btn--none {
        display: block;
    }
    .aside-left--toggle-on, .aside-right--toggle-on {
        display: none;
    }
    .aside-left {
        padding: 0;
    }
    .aside-right {
        padding: 0 20px;
    }
    .article {
        padding: 10px 0;
    }
    pre{
        width: calc(100vw - 40px);
    }
}
@media (min-width: 330px) and (max-width: 599px) {
    .content{
        grid-template-columns: auto;
        grid-template-areas: "aside-left" "aside-right" "article article";
        padding: 0;
    }
    .search{
        width: calc(100vw - 40px);
    }
    .search input{
        width: calc(100vw - 52px);
    }
    .toggle-btn--none {
        display: block;
    }
    .aside-left--toggle-on, .aside-right--toggle-on {
        display: none;
    }
    .aside-left {
        padding: 0 20px;
    }
    .aside-right {
        padding: 0 20px;
    }
    pre{
        width: calc(100vw - 40px);
    }
}
@media (min-width: 280px) and (max-width: 329px) {
    .logo {
        display: none;
    }
    .content{
        grid-template-columns: auto;
        grid-template-areas: "aside-left" "aside-right" "article article";
        padding: 0;
    }
    .search{
        width: calc(100vw - 40px);
    }
    .search input{
        width: calc(100vw - 52px);
    }
    .toggle-btn--none {
        display: block;
    }
    .aside-left--toggle-on, .aside-right--toggle-on {
        display: none;
    }
    .aside-left {
        padding: 0 20px;
    }
    .aside-right {
        padding: 0 20px;
    }
    pre{
        width: calc(100vw - 40px);
    }
}

#scrollA {
    display: none;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    position: fixed;
    right: 30px;
    bottom: 60px;
    background: hsla(208, 98%, 43%, 0.6);
    color: white;
}
#scrollB {
    display: none;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: hsla(0, 86%, 59%, 0.6);
    color: white;
}

.toggle {
    background: none;
    border: none;
    padding-bottom: 10px;
    color: gray;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
}
.toggle .fa-hamburger {
    margin-right: 10px;
}