
.header {
    height: 65px;
    padding: 0 20px;
}
.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}
.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__link {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: gray;
}



.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

.breadcrumbs__item {
    display: inline;
}
.breadcrumbs__item+.breadcrumbs__item:before {
    padding: 5px;
    color: grey;
    content: "/\00a0";
}
.breadcrumbs__link {
    color: #0275d8;
    text-decoration: none;
}
.breadcrumbs__link:hover {
    color: gray;
    text-decoration: none;
}
.breadcrumbs__link--activ {
    color: grey;
    cursor: default;
}


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
.pagination__link {
    display: block;
    border: 1px solid gray;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px;
    color: gray;
}
.pagination__link--activ {
    cursor: default;
    background-color: gray;
    color: white;
}
.pagination__link:hover {
    color: white;
    background-color: gray;
}