
/* @media only screen and (min-width: 1601px) and (max-width: 1920px){}
@media only screen and (min-width: 1361px) and (max-width: 1600px) {}
@media only screen and (min-width: 1281px) and (max-width: 1360px) {}
@media only screen and (min-width: 1081px) and (max-width: 1280px) {}
@media only screen and (min-width: 981px) and (max-width: 1080px) {}
@media only screen and (min-width: 801px) and (max-width: 980px) {}
@media only screen and (min-width: 721px) and (max-width: 800px) {}
@media only screen and (min-width: 601px) and (max-width: 7200px) {}
@media only screen and (min-width: 541px) and (max-width: 600px) {}
@media only screen and (min-width: 481px) and (max-width: 540px) {}
@media only screen and (min-width: 361px) and (max-width: 480px) {}
@media only screen and (min-width: 240px) and (max-width: 360px) {} */

@media (min-width: 1281px) and (max-width: 1920px) {
    .content{
        grid-template-columns: 20% auto 20%;
        grid-template-areas: "aside-left article aside-right";
    }
    .header{
        grid-template-columns: 5% 15% auto;
        grid-template-areas: "logo nav search";
    }
    pre{
        width: calc(100vw - 45vw);
    }
}
@media (min-width: 1081px) and (max-width: 1280px) {
    .content{
        grid-template-columns: 25% auto 25%;
        grid-template-areas: "aside-left article aside-right";
    }
    .header{
        grid-template-columns: 5% 20% auto;
        grid-template-areas: "logo nav search";
    }
    pre{
        width: calc(100vw - 50vw);
    }
}
@media (min-width: 981px) and (max-width: 1080px) {
    .content{
        grid-template-columns: auto auto;
        grid-template-areas: "aside-left aside-right" "article article";
    }
    .header{
        grid-template-columns: 5% 30% auto;
        grid-template-areas: "logo nav search";
    }
    pre{
        width: calc(100vw - 50vw);
    }
}
@media (min-width: 600px) and (max-width: 980px) {
    .content{
        grid-template-columns: auto auto;
        grid-template-areas: "aside-left aside-right" "article article";
    }
    .header{
        grid-template-columns: 5% 40% auto;
        grid-template-areas: "logo nav search";
    }
    pre{
        width: 80vw;
    }
}
/* @media (max-width: 480px) {} */