{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Об этом блоге</title>
{% endblock title %}

{% block content %}
{% include 'blog/include_aside_left.html' %}
    <div class="article">
        <h1>Об этом блоге</h1>
        <div class="body-article">
            <p>
                Наверное каждый кто имеет дело с информационными технологиями, держит в облаке пучок заметок с решениями разного рода задач и как показывает практика, задачи часто повторяются и даже повторяются не совсем тривиальные задачи.. Решения могут терять актуальность, но это вторично.
            </p>
            <p>
                Материал этого блога не претендует на абсолютную истину, здесь будут описаны задачи, проблемы и решения которые я использовал в своих проектах.
                Скорее всего, новизной этот материал не будет пахнуть и скорее всего, это будут куски кода с очень скудным описанием и поскольку я не являюсь профессиональным программистом будут встречаться ошибку и откровенные глупости.
            </p>
            <p>
                То с чем я имею удовольствие работать: Linux (Debian), Python, Django, HTML, CSS, Vue.js соответственно и темы буду касаемо этих технологий.
            <p>
                В разделе <a class="portfolio" href="{% url 'blog:portfolio' %}">Portfolio</a> будут завершенные проекты и описание стеков, библиотек и технологий, примененных в этих проектах.
            </p>
            </p>
            <p>
                Этот сайт в качестве бекенда использует Django с PostgreSQL развернуть на сервере под управлением Debian. Морда сайта рисуется HTML + CSS Grid Layout. Я не дальтоник) просто так сложилось.
            </p>
        </div>
    </div>
{% include 'blog/include_aside_right.html' %}
{% endblock content %}