{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Главная - 8th-port.xyz</title>
{% endblock title %}

{% block content %}
    {% include 'blog/aside_left.html' %}
    <main class="main">
        {% for article in object_list %}
            {% include 'blog/article-list.html' %}
        {% endfor %}
        {% if is_paginated %}
            {% include 'blog/pagination.html' %}
        {% endif %}
    </main>
    {% include 'blog/aside_right.html' %}
{% endblock content %}