{% extends "base.html" %}
{% load static %}
<div>
    <h1>test</h1>

{% block content %}
    <div class="aside-left">
        <hr>
        {% for article in object_list %}
            <a href="{{article.get_absolute_url}}">{{article.title}}</a>
            <hr>
        {% endfor %}
    </div>
    <div class="article">
            <b>Tags</b>
            {% for tag in tags %}
              <a href="/tags/{{tag.slug}}">{{tag.name}} - {{ tag.num_times }}</a>
            {% endfor %}
            <hr>
            {% for article in object_list %}
            <b>Title:</b> {{article.title}}
            <br>
            <b>Note:</b> {{article.article|linebreaksbr }}
            <hr>
            {% for t in article.tags.get_queryset %}
            <a href="/tags/{{t.slug}}">{{t.name}}</a>
            {% endfor %}
            <hr>
            {% endfor %}
            <hr>
            {% for a in author %}
                {{a.name}}
                <br>
                {{a.email}}
                <br>
            <hr>
            {% endfor %}
    </div>
    <div class="aside-right">
        
    </div>
{% endblock content %}
</div>