<div class="pagination">
    <div class="page-links">
        {% if page_obj.has_previous %}
            <a class="previous-page" href="/?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
        {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <a class="active-page" >{{ i }}</a>
                {% else %}
                    <a class="page" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        {% if page_obj.has_next %}
            <a class="next-page" href="/?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
        {% endif %}
    </div>
</div>