{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="aside-left">
        <hr>
        {% for article in title_list %}
            <a href="{{ article.get_absolute_url }}">{{article.title}}</a>
            <hr>
        {% endfor %}
    </div>
    <div class="article">
        Портфолио
    </div>
    <div class="aside-right">
        <hr>
        {% for tag in tags %}
            <a href="{% url 'blog:tag_detail' tag.slug %}">{{tag.name}}</a> {{ tag.num_times }}
            <hr>
        {% endfor %}
    </div>
{% endblock content %}