{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'highlight/styles/monokai-sublime.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- <script src="{% static 'highlight/highlight.pack.js' %}"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="{% static 'highlight/highlightjs-line-numbers.js' %}"></script>
    <script src="https://kit.fontawesome.com/fcee146ba6.js" crossorigin="anonymous"></script>
    {% block title %}
        {{title}}
    {% endblock title %}
</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item logo"><a href="/" class="nav__link"><span class="logo__eight">8-th</span></a></li>
                    <li class="nav__item"><a href="{% url 'blog:about' %}" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="{% url 'blog:portfolio' %}" class="nav__link">Portfolio</a></li>
                </ul>
                <ul class="nav__list search">
                    <li class="nav__item">
                        <form class="search__form" role="search" action="{% url 'blog:blog_list' %}">
                            <input type="text" placeholder="Search" name="q">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            {% block content %}
                {{content}}
            {% endblock content %}
        </div>
        <footer class="footer">
            <ul class="footer__list">
                <li class="footer__item">© 2019-2020</li>
                <li class="footer__item"><a href="/tags/django/" class="footer__link">Django</a></li>
                <li class="footer__item"><a href="/tags/html/" class="footer__link">HTML</a></li>
                <li class="footer__item"><a href="/tags/css/" class="footer__link">CSS</a></li>
                <li class="footer__item"><a href="/tags/javascript/" class="footer__link">JavaScript</a></li>
                <li class="footer__item"><a href="/tags/vue/" class="footer__link">Vue.js</a></li>
                <li class="footer__item"><a href="/tags/linux/" class="footer__link">Linux</a></li>
            </ul>
            <!-- <span class="footer__link">
                © 2019-2020 •
                <a href="/tags/django/">Django</a> •
                <a href="/tags/html/">HTML</a> •
                <a href="/tags/css/">CSS</a> •
                <a href="/tags/vue/">Vue.js</a> •
                <a href="/tags/linux/">Linux</a>
            </span> -->
            <a class="footer__email" href="mailto:8th.port@gmail.com">8th.port@gmail.com</a>
        </footer>
    </div>
    <button onclick="topFunction()" id="scrollA" title="Go to top"><i class="fas fa-chevron-up"></i></button>
    <button onclick="downFunction()" id="scrollB" title="Go to down"><i class="fas fa-chevron-down"></i></button>
    {% block javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    {% endblock javascript %}
</body>
</html>