{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>GRPiglet Note & Article</title>
</head>
<body>
    <div class="header">
        <a href="/">Home</a>
    </div>
    <div class="content">
        {% block content %}
            {{content}}
        {% endblock content %}
    </div>
    <footer>
        footer
    </footer>
</body>
</html>