<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://kit.fontawesome.com/fcee146ba6.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="" class="nav__link">lin-1</a>
            </li>
            <li class="nav__item"><a href="" class="nav__link">lin-2</a>
            </li>
            <li class="nav__item"><a href="" class="nav__link">lin-3</a>
            </li>
        </ul>
        <ul class="nav__list">
            <li class="nav__item"><a href="" class="nav__link">lin-4</a>
            </li>
            <li class="nav__item"><a href="" class="nav__link">lin-5</a>
            </li>
            <li class="nav__item"><a href="" class="nav__link">li-6</a></li>
        </ul>
    </nav>
</header>

<ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Home</a></li>
    <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Catalog</a></li>
    <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Sub Catalog</a></li>
    <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link breadcrumbs__link--activ">Product</a></li>
</ul>

<div class="content">
    <main class="main">
        <article class="card">
            <a class="card__link" href="">
                <div class="card__img">
                    <img class="card-img-top" src="../static/img/img.jpg" alt="">
                </div>
            </a>
            <a class="card__link" href="">
                <div class="card__body">
                    <h2 class="card__name title-h2 color--blue">Ламинатор конвертный lamiMARK PDA3-330CN</h2>
                    <p class="card__pn card--left-right">
                        <span>Артикул:</span>
                        <span>20358</span>
                    </p>
                    <p class="card__vendor card--left-right">
                        <span>Вендор:</span>
                        <span>lamiMARK</span>
                    </p>
                    <div class="card__price">
                        <p class="card--left-right">
                            <span>Цена:</span>
                            <span class="card__price--text">3695.00</span>
                        </p>
                    </div>
                </div>
            </a>
            <form class="form-quantity-buy" action="." method="post">
                <input class="quantity" type="number" name="quantity" value="1" min="1" required>
                <button type="submit" class="apply">Купить</button>
            </form>
        </article>

       <article class="card">
            <a class="card__link" href="">
                <div class="card__img">
                    <img class="card-img-top" src="../static/img/img.jpg" alt="">
                </div>
            </a>
            <a class="card__link" href="">
                <div class="card__body">
                    <h2 class="card__name title-h2 color--blue">Ламинатор конвертный lamiMARK PDA3-330CN</h2>
                    <p class="card__pn card--left-right">
                        <span>Артикул:</span>
                        <span>20358</span>
                    </p>
                    <p class="card__vendor card--left-right">
                        <span>Вендор:</span>
                        <span>lamiMARK</span>
                    </p>
                    <div class="card__price">
                        <p class="card--left-right">
                            <span>Цена:</span>
                            <span class="card__price--text">3695.00</span>
                        </p>
                    </div>
                </div>
            </a>
            <form class="form-quantity-buy" action="." method="post">
                <input class="quantity" type="number" name="quantity" value="1" min="1" required>
                <button type="submit" class="apply">Купить</button>
            </form>
        </article>

       <article class="card">
            <a class="card__link" href="">
                <div class="card__img">
                    <img class="card-img-top" src="../static/img/img.jpg" alt="">
                </div>
            </a>
            <a class="card__link" href="">
                <div class="card__body">
                    <h2 class="card__name title-h2 color--blue">Ламинатор конвертный lamiMARK PDA3-330CN</h2>
                    <p class="card__pn card--left-right">
                        <span>Артикул:</span>
                        <span>20358</span>
                    </p>
                    <p class="card__vendor card--left-right">
                        <span>Вендор:</span>
                        <span>lamiMARK</span>
                    </p>
                    <div class="card__price">
                        <p class="card--left-right">
                            <span>Цена:</span>
                            <span class="card__price--text">3695.00</span>
                        </p>
                    </div>
                </div>
            </a>
            <form class="form-quantity-buy" action="." method="post">
                <input class="quantity" type="number" name="quantity" value="1" min="1" required>
                <button type="submit" class="apply">Купить</button>
            </form>
        </article>

       <article class="card">
            <a class="card__link" href="">
                <div class="card__img">
                    <img class="card-img-top" src="../static/img/img.jpg" alt="">
                </div>
            </a>
            <a class="card__link" href="">
                <div class="card__body">
                    <h2 class="card__name title-h2 color--blue">Ламинатор конвертный lamiMARK PDA3-330CN</h2>
                    <p class="card__pn card--left-right">
                        <span>Артикул:</span>
                        <span>20358</span>
                    </p>
                    <p class="card__vendor card--left-right">
                        <span>Вендор:</span>
                        <span>lamiMARK</span>
                    </p>
                    <div class="card__price">
                        <p class="card--left-right">
                            <span>Цена:</span>
                            <span class="card__price--text">3695.00</span>
                        </p>
                    </div>
                </div>
            </a>
            <form class="form-quantity-buy" action="." method="post">
                <input class="quantity" type="number" name="quantity" value="1" min="1" required>
                <button type="submit" class="apply">Купить</button>
            </form>
        </article>

       <article class="card">
            <a class="card__link" href="">
                <div class="card__img">
                    <img class="card-img-top" src="../static/img/img.jpg" alt="">
                </div>
            </a>
            <a class="card__link" href="">
                <div class="card__body">
                    <h2 class="card__name title-h2 color--blue">Ламинатор конвертный lamiMARK PDA3-330CN</h2>
                    <p class="card__pn card--left-right">
                        <span>Артикул:</span>
                        <span>20358</span>
                    </p>
                    <p class="card__vendor card--left-right">
                        <span>Вендор:</span>
                        <span>lamiMARK</span>
                    </p>
                    <div class="card__price">
                        <p class="card--left-right">
                            <span>Цена:</span>
                            <span class="card__price--text">3695.00</span>
                        </p>
                    </div>
                </div>
            </a>
            <form class="form-quantity-buy" action="." method="post">
                <input class="quantity" type="number" name="quantity" value="1" min="1" required>
                <button type="submit" class="apply">Купить</button>
            </form>
        </article>
    </main>
    <ul class="pagination">
        <li class="pagination__item"><a href="" class="pagination__link">1</a></li>
        <li class="pagination__item"><a href="" class="pagination__link pagination__link--activ">2</a></li>
        <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
        <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
    </ul>
</div>
    <footer class="footer">
<ul class="icon-block">
    <li class="icon-block__item"><a href="" class="icon-block__link"><i class="fab fa-youtube"></i></a></li>
    <li class="icon-block__item"><a href="" class="icon-block__link"><i class="fab fa-facebook-f"></i></a></li>
    <li class="icon-block__item"><a href="" class="icon-block__link"><i class="fab fa-instagram"></i></a></li>
</ul>
    </footer>
</body>

</html>